.a{
    padding: 100px;
    text-align: center;

}
.b{
    color: blue;
}
.c{
    color: blue;
}
.d{
    
    font-weight: 500;
    align-items: center;
    word-spacing: 5px;
    font-size: larger;
}
.main{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    justify-content: center;
    align-items:center;
    margin: 50px 0;
}
.item{
    width:20%;
    margin:15px;
    box-sizing:border-box;
    float:left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow:0 14px 20px black,0 10px 10px black;
    background: white;

}
.e{
    height: 200px;
    width: 200px;
}

.item:hover{
    box-shadow: 0 3px 6px black,0 3px 6px black;
    background-color: orchid;
}
.f{
 height: 100px;
 width: 150px;
 transform: scale(1);
}
.g{
    background-color: burlywood;
    width: 100%;
    height: 150px;
}
.h{
    background-color: black;
    color: whitesmoke;
}
.fa-youtube-play{
    font-size: 30px;
    color: wheat;
    
  }
  .fa-youtube-play:hover{
    
    color: red;
 }
  
 .fa-twitter-square{
    font-size: 30px;
     }
 .fa-twitter-square:hover{
      
       color: blue;
 } 
 .fa-instagram{
    font-size: 30px;
    
  }
  .fa-instagram:hover{
    color: palevioletred;
  }
  .fa-whatsapp{
    font-size: 30px;
    
  }
  .fa-whatsapp:hover{
    color: green;
  }
  .fa-facebook-official{
    font-size: 30px;
    
  }
  .fa-facebook-official:hover{
    color: blue;
  }
  body{
    background-image: url(LOGO/lg33.jpg);
    background-size: cover;
    background-position: none;
    color: purple;
  }
  .ss{
    border-radius: 30px;
    background-color: plum;

  }
  